{% extends "base.html" %}
{% block inhead %}
    <title>Memory Test</title>
{% endblock %}
{% block inbody %}
      <h1>What was here?</h1>
      <img src={{ image_source }} alt="Image goes here">
      <form name="answerform" action="" method="POST" onsubmit="return checkAnswer()">
        <input type="radio" value="0"> {{ choices[0] }}
        <br>
        <input type="radio" value="1"> {{ choices[1] }}
        <br>
        <input type="radio" value="2"> {{ choices[2] }}
        <br>
        <input type="radio" value="3"> {{ choices[3] }}
        <br>
        <input type="hidden" id="correctness" value="wrong">
      </form> 
      <script>
      
      function checkAnswer() {
        var x = document.forms["answerform"]["radio"].value;
        if(x == {{ correct_ans }}){
          document.getElementById("correctness").value = "correct"
        }
        document.forms["myform"].submit()
      }
      </script>
{% endblock %}
