<html>
  <head>
    {% block inhead %}
    {% endblock %}
    <style>
    h1 {text-align:center;}
    p {text-align:center;}
    div {margin-left:auto;margin-right:auto;}
    body { width: 960px; margin: 0 auto; }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body onload="start()">
    <div class="container">
      {% block inbody %}
      {% endblock %}
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
