{% extends "base.html" %}
{% block inhead %}
    <title>Memory Test</title>
{% endblock %}
{% block inbody %}
      <h1>What was here?</h1>
      <img src={{ image_source }} alt="Image goes here">
      <form name="answerform" action="{{ url_for(check_answer) }}" method="POST">
        <input type="radio" value="A" name="gr"> {{ choices[0] }}
        <br>
        <input type="radio" value="B" name="gr"> {{ choices[1] }}
        <br>
        <input type="radio" value="C" name="gr"> {{ choices[2] }}
        <br>
        <input type="radio" value="D" name="gr"> {{ choices[3] }}
        <br>
        <input type="submit" value="Submit">
      </form> 
{% endblock %}
