{% extends "base.html" %}
{% block inhead %}
    <title>Memory Test</title>
{% endblock %}
{% block inbody %}
      <h4>Are {{ choices[0] }} and {{ choices[1] }} in the same room?</h4>
      <form id="answerform" name="answerform" action="" method="POST">
        <input type="hidden" name="part" value= {{ part }} >
        <input type="hidden" name="correctness" value="wrong">
      </form>
      <input type="button" value="Yes" onclick="check('yes')">
      <input type="button" value="No" onclick="check('no')">
      <script>
      function check(answer){
        if(answer=='{{correct_ans}}'){
          document.forms["answerform"]["correctness"].value = "correct";
        }
        document.forms["answerform"].submit();
      }
      </script>
{% endblock %}
