<html>
  <head>
    <title>Second Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <p>Enter some stuff in there and we will remember it:</p>
      <form id="posting-form" action="" method="POST">
      <input type="text" name="datapt" value="{{
          request.form.datapt }}">
       <input class="btn btn-default" type="submit" value="Post">
      </form>
      {% if data %}
        {% for datapoint in data%}
        <p class="data"><strong> Post:</strong> {{ datapoint }}
        {% endfor %}

      {% endif %}
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>