<html>
  <head>
    <title>Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <p>Data:</p>
      {% if data.any() %}
        {% for datapoint in data%}
        <p class="data"><strong> Post:</strong> {{ datapoint }}
        {% endfor %}

      {% endif %}
      <p>Want to enter more?</p>
      <form id="redirect-form" action="/secondpage" method="GET">
       <input class="btn btn-default" type="submit" value="Make more data">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>