{% extends "base.html" %}
{% block inhead %}
    <title>Welcome</title>
{% endblock %}
{% block inbody %}
      <h1>Storytime:</h2>
      <br>
       <h4> {{story_text}}</h4>
      <form id="next-form" action="">
      </form>
     <input type="button" value="Next" onclick="nextPage()">
      <script>
      function nextPage(){
        var pgUrl = document.URL;
        var num = pgUrl.substring(pgUrl.length-2,pgUrl.length).match("[0-9]+")[0];
        num++;
        num = String(num);
        document.getElementById("next-form").action = pgUrl.substring(0, pgUrl.length-num.length)+num;
        document.getElementById("next-form").submit();
      }

      </script>
{% endblock %}
