{% extends "base.html" %}
{% block inhead %}
    <title>
      {% if score == 10 %}
      Congratulations!
      {% else %}
      Try Again!
      {% endif %}
    </title>
{% endblock %}
{% block inbody %}

      <h4> {% if score == 10 and passed %}
        Congratulations! You scored {{score}} out of 10. Continue to the next task.
      <a href="{{ url_for('story')}}">
        Continue
      </a>
        {% elif score == 10 %}
        Congratulations! You scored {{score}} out of 10. Just one more perfect score and you can move on!
      <a href="{{ url_for('learn')}}">
        Continue
      </a>
        {% else %}
        You scored {{score}} out of 10.  Please try again.
      <a href="{{ url_for('learn')}}">
        Continue
      </a>
        {% endif %}

      </h4>

{% endblock %}
